---
# This is the internal user database
# The hash value is a bcrypt hash and can be generated with plugin/tools/hash.sh

_meta:
  type: "internalusers"
  config_version: 2

# Define your internal users here

admin:
  hash: "{{ indexer_admin_password }}"
  reserved: true
  backend_roles:
  - "admin"
  description: "admin user"

kibanaserver:
  hash: "{{ dashboard_password }}"
  reserved: true
  description: "kibanaserver user"

{% if wazuh_internal_users_entries is defined %}
# Custom internal users
{% for user_name, user_data in wazuh_internal_users_entries.items() %}
{{ user_name }}:
  hash: "{{ user_data.hash }}"
  reserved: {{ user_data.reserved | default(false) }}
  description: "{{ user_data.description | default(user_name) }}"
{% if user_data.backend_roles is defined and user_data.backend_roles | length > 0 %}
  backend_roles:
{%   for role in user_data.backend_roles %}
  - "{{ role }}"
{%   endfor %}
{% endif %}

{% endfor %}
{% endif %}
